/*
 * -------------------------------------------------
 *  Nextflow config file for use with Docker
 * -------------------------------------------------
 * Configuration for runs on our galaxy server
 */

process {
  $minimap_run{
    cpus = 18
    memory = 120.GB
  }
  $minimap_index{
    cpus = 18
    memory = 120.GB
  }
}
